@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    background-color:black;
    font-family: 'Ubuntu', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** Navigation Bar Section **/
.navigationBar{
    height: 10%;
	width: auto;
    color:white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
    padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	transition: all ease-in-out 1s; 
}
.navigationBar > div{
    display: inline-block;
 }
 .logo{
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.logo img{
    height: inherit;
    border-radius: 80%;
}
.logo-and-name> div{
     cursor: pointer;
     vertical-align: middle;
     display: inline-block;
}
/** feedback button **/
.feedback-button{
    float: right;
    margin-left: 35%;
}
.feedback-button button{
    font-size: 1.0rem;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    border-radius: 40px;
    background-color: black;
    color:white;
    color: darkgrey;
}
.feedback-button button:hover{
    color: white;
}
/** Search Bar **/
.search-container {
    float: left;
    margin-right: 10px;
  }
  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 0px 30px 30px 0px;
  }
  .search-container button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    color: darkgrey;
    background: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 30px 0px 0px 30px;
  }
 
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
     input[type=text], .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    input[type=text] {
      border: 1px solid #ccc; 
    }
  }
/**Mic Button**/
.mic i{
    color:darkgrey;
    cursor: pointer;
    margin: 15px;
}
.mic i:hover{
    color:white;
    
}
/** Account Info **/
.profile img {
    cursor: pointer;
    margin: 20px;
    height: 40px;
    border-radius: 80%;
}
/**DropDown List **/
nav li{
    list-style-type: none;
}
nav li select {
    font-size: 1.0rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    padding: 8px;
    background-color: black;
    color: darkgrey;
    border: 1px solid black;
    border-radius: 40px;
}
nav li select:hover {
color: white;
}
nav li select option{
    color: white;
    font-size: 1.0rem;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}
/** main content */
.container{
    color: white;
    background-position: center;
    min-height: 70vh;
}
/** SideBar Section **/

aside{
    color: grey;
    width: 15%;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
}
.First-list{
    margin: 37px;
}
.Second-list{
    margin: 37px;
}

small{
    font-weight: bolder;
    text-align: center;
    margin-left: 40px;
}
aside ul li{
    font-size: 1.0rem;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
    margin: 10px;
}
aside ul li a{
    color: darkgrey;
    text-decoration: none;
}
aside ul li a:hover{
    color: white;
}
/** For You section **/
.Browse h1{
    font-size: 2.9rem;
    margin-bottom:1%;
}
.radio{
    text-align: center;
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:30px;
    padding-left:30px;
    border-radius: 20px;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: white;
}

  @media(max-width:600px){
    #Playlists {
    grid-template-columns: 1fr;  gap: 0 10px;
  }
    #Playlists {
      height: 210vh;}
  }
    .Playlist_Page h2{
    margin-bottom: 20px;
}
#Playlists{
    display: grid;
    grid: repeat(1, 80px) / auto-flow 200px;
}
#Playlists > div{
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    width: 150px;
    height: 30vh;
}

#Playlists div b{
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    background-color: #00CED1;
    padding-bottom: 5px;
    color: black;
    width: 100%;
    display: inline-block;
    font-size: 1.0rem;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}

#Playlists .Top-Hits-Hindi{
    background-image: url(Playlist-Img.avif);
    background-size: cover;
    background-position: center;
    transition: 0.4s ease-in-out all;
}
#Playlists .Hindi-Pop-Party{
    background-image: url(Genda-Phool-.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.4s ease-in-out all;

}
#Playlists .Romance{
    background-image: url(Atif-Aslam-Songs.jpeg);
    background-size: cover;
    background-position: center;
    transition: 0.4s ease-in-out all;

}
#Playlists .Top-Hindi-Pop{
    background-image: url(badshah_.webp);
    background-size: cover;
    background-position: center;
    transition: 0.4s ease-in-out all;

}
#Playlists .Hindi-Dance-Music{
    background-image: url(Playlist-Img2.webp);
    background-size: cover;
    background-position: center;
    transition: 0.4s ease-in-out all;

}
#Playlists .Chai-and-Chill{
    background-image: url(Chai.jpg_large);
    background-size: cover;
    background-position: center;
    transition: 0.4s ease-in-out all;

}
#Playlists:hover{
    opacity: 1;
    bottom: 10px;
  }

  .Top-Hits-Hindi:hover {
    transform: scale(1.15);
  }
  .Hindi-Pop-Party:hover {
    transform: scale(1.15);
  }
  .Romance:hover {
    transform: scale(1.15);
  }
  .Top-Hindi-Pop:hover {
    transform: scale(1.15);
  }
  .Hindi-Dance-Music:hover {
    transform: scale(1.15);
  }
  .Chai-and-Chill:hover {
    transform: scale(1.15);
  }

/** music player bottom line */
.Music-Player{
    background: linear-gradient(to right, #1e130c, #9a8478);
    position: fixed;
    padding-left: 25px;
    border-radius: 10px;
    width: 100%;
    height: 98px;
}
.Music-Player > div{
    display: inline-block;
}
.song-image{
    margin-left: 25px;
    margin: 8px;
    margin-top: -35px;
}
.song-image img{
    height: 80px;
    border-radius: 10px;
}
.song-name{
    color:white;
    text-align: justify;
}
.song-name p{
    font-size: 10px;
}
.icons{
    color:white;
}
.icons > div{
    display: inline-block;
}

.icons i{
    cursor: pointer;
}
.heart{
    margin: 20px;
}
.heart i:hover{
    color:red;
}
.dot{
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
}
.buttons{
    margin-left: 310px;
    text-align: center;
}
.buttons > div{
    display:inline-block;
    margin-left: 30px;
}
.play{
    margin: 5px;
    margin-left: 320px;
}
.play i{
    margin: 15px;
    margin-bottom: 0px;
}
#progress {
    background: linear-gradient(to right, #82CFD0 0%, #82CFD0 40%, #fff 40%, #fff 100%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 5px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    cursor: pointer;
  }
  #progress::-webkit-slider-thumb {
    width: 100%;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #434343;
  }


 