@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    background-color:black;
    font-family: 'Ubuntu', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** Navigation Bar Section **/
.navigationBar{
    height: 10%;
	width: auto;
    color:white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
    padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	transition: all ease-in-out 1s; 
}
.navigationBar > div{
    display: inline-block;
 }
 .logo{
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.logo img{
    height: inherit;
    border-radius: 80%;
}
.logo-and-name> div{
     cursor: pointer;
     vertical-align: middle;
     display: inline-block;
}
/** feedback button **/
.feedback-button{
    float: right;
    margin-left: 35%;
}
.feedback-button button{
    font-size: 1.0rem;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    border-radius: 40px;
    background-color: black;
    color:white;
    color: darkgrey;
}
.feedback-button button:hover{
    color: white;
}
/** Search Bar **/
.search-container {
    float: left;
    margin-right: 10px;
  }
  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 0px 30px 30px 0px;
  }
  .search-container button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    color: darkgrey;
    background: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 30px 0px 0px 30px;
  }
 
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
     input[type=text], .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    input[type=text] {
      border: 1px solid #ccc; 
    }
  }
/**Mic Button**/
.mic i{
    color:darkgrey;
    cursor: pointer;
    margin: 15px;
}
.mic i:hover{
    color:white;
    
}
/** Account Info **/
.profile img {
    cursor: pointer;
    margin: 20px;
    height: 40px;
    border-radius: 80%;
}
/**DropDown List **/
nav li{
    list-style-type: none;
}
nav li select {
    font-size: 1.0rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    padding: 8px;
    background-color: black;
    color: darkgrey;
    border: 1px solid black;
    border-radius: 40px;
}
nav li select:hover {
color: white;
}
nav li select option{
    color: white;
    font-size: 1.0rem;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}
/** main content */
.container{
    color: white;
    background-position: center;
    min-height: 70vh;
}
/** SideBar Section **/

aside{
    color: grey;
    width: 15%;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
}
.First-list{
    margin: 37px;
}
.Second-list{
    margin: 37px;
}

small{
    font-weight: bolder;
    text-align: center;
    margin-left: 40px;
}
aside ul li{
    font-size: 1.0rem;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
    margin: 10px;
}
aside ul li a{
    color: darkgrey;
    text-decoration: none;
}
aside ul li a:hover{
    color: white;
}

/** Playlist section **/

.playlist-img{
    margin:0px;
    padding: 0px;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    width: 200px;
    height:30vh;
}
.playlist-img b{
    border-radius: 10px 10px 0px 0px;
    background-color: #00CED1;
    height: 11%;
    color:black;
    width: 100%;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}
.playlist-img{
    background-image: url(Media/Playlist-Img.avif);
    background-size: cover;
    background-position: center;
}
.text{
    display: inline-block;
    vertical-align: text-top;
    margin-left: 20px;
}
.text b{
    font-size: 3.0rem;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}
.text p{
    margin: 15px;
}
.count{
    color: darkgray;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}
.playbutton{
    display: inline-block;
    vertical-align: bottom;
    margin:0px;
}
.playbutton h2{
    cursor: pointer;
    text-align: center;
    font-size: 1.0rem;
    margin-top: 30px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:30px;
    padding-left:30px;
    border-radius: 20px;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: white;
}
.play-heart{
    display: inline-block;
    margin-left: 40px;
}
.play-heart i{
    margin-left: 40px;
}

.plalists-songs{
    margin-top: 25px;
    height: 250px;
    width: 100%;
}
.itemslist{
    margin: 15px;
}
.itemslist b{
    margin-left: 20%;
    color: darkgray;
}
.itemslist strong{
    color: darkgray;
}
.itemslist i{
    margin-left: 30%;
    color: darkgray;
}
.song1 {
    margin-bottom: 5px;
}
.song1 .image{
    display: inline-block;
    vertical-align: middle;
}
.song1 i{
    margin-left: 20px;
    margin-right: 20px;
}
.song1 img{
    border-radius: 5px;
}
.song-d{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
}
.song-d b{
    font-size: 1.0rem;
    margin-bottom: 10px;
}
.song-d p{
    font-size: 0.8rem;
    color: darkgrey;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
}
.album{
    color: darkgray;
    margin-left: 60px;
}
.time{
    color: darkgray;
    margin-left: 17%;
}
/** music player bottom line */
.Music-Player{
    background: linear-gradient(to right, #1e130c, #9a8478);
    position:fixed;
    padding-left: 20px;
    border-radius: 10px;
    width: 100%;
    height: 98px;
}
.Music-Player > div{
    display: inline-block;
}
.song-image{
    margin-left: 25px;
    margin: 8px;
    margin-top: -35px;
}
.song-image img{
    height: 80px;
    border-radius: 10px;
}
.song-name{
    color:white;
    text-align: justify;
}
.song-name p{
    font-size: 10px;
}
.icons{
    color:white;
}
.icons > div{
    display: inline-block;
}

.icons i{
    cursor: pointer;
}
.heart{
    margin: 20px;
}
.heart i:hover{
    color:red;
}
.dot{
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
}
.buttons{
    margin-left: 310px;
    text-align: center;
}
.buttons > div{
    display:inline-block;
    margin-left: 30px;
}
.play{
    margin: 5px;
    margin-left: 320px;
}
.play i{
    margin: 15px;
}
#progress {
    background: linear-gradient(to right, #82CFD0 0%, #82CFD0 40%, #fff 40%, #fff 100%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 5px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    cursor: pointer;
  }
  #progress::-webkit-slider-thumb {
    width: 100%;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #434343;
  }


 